.App {
	text-align: center;
	margin-bottom: 80px !important;
}

h1, h2 {
	margin: 20px 0 !important;
}

.App a {
	color: #c1eb36;
	text-decoration: none;
}

.main-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
}

.test-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
}

.box {
	padding: 40px 20px;
	margin: 20px 10px;
	font-size: 1.4rem;
	width: calc(33% - 20px);
	border: 1px solid #c5bfc1;
	border-radius: 20px;
	background: #e0e0e0;
	box-shadow:  10px 10px 20px #bebebe, -10px -10px 20px #bebebe;
}

.bold {
	color: red;
}

.map {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.map img {
	width: 33.33%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #969879;
	background-color: #212529;
}

footer div {
	width: 90%;
	margin: 20px auto;
}

@media screen and (max-width: 640px) {
	.main-box {
		flex-direction: column;
	}

	.box {
		width: 90%;
	}

	.map {
		flex-direction: column;
	}

	.map img {
		width: 100%;
	}
}